<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jinja Test Page</title>
</head>
<body>
<h1>Jinja Test : {{Title}}</h1>

<ul>
    {% for idx, title, ref in lst recursive %}
    <li>
        {{title}}
        {% if ref %}
        <ul class="sub">{{ loop(ref) }}</ul>
        {% endif %}
    </li>
    {% endfor %}
    
</ul>


{{ "<strong>Strong</strong>" | striptags}}

</body>
</html>